body{
    background-color: white;
}
#main-navigation{
   text-align:right;
}
#main-navigation ul li{
    list-style: none;
    display:inline;
    padding: 0 20px;
}
#main-navigation a{
    text-decoration: none;
}
