* {
  margin: 0;
  padding: 0;
  font-family: arial;
  color: black;

}
html,body{
  height:100%;
  width:auto;
  background-color:#FDFFE0;
}




/*NAVIGATION*/
#main-navigation {
  text-align: center;
  padding: 5px 0px 10px;
  background-color: #0066ff;
  width:100%;
  position: relative;
 
}

#main-navigation ul li {
  list-style: none;
  display: inline;
  padding: 0 20px;
  position: relative;
  bottom: 30px;
  font-size: 15px;

}


#main-navigation a {
  text-decoration: none;
  color: white;
  font-family: arial;
  font-size: 30px;
  text-transform: uppercase ;

}
#main-navigation .current{
  color:red;

}
#current{
  color:red;
}

.dropbtn{
  border:none;
  background-color: #0066ff;
  color:white;
  font-size: 30px;
  text-transform: uppercase;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown_content{
  display: none;
  position: absolute;
  min-width:0px;
  z-index:1;
  border-radius: 15px;

}

.dropdown_content a {
  text-decoration:none;
  display: block;
  color: black;
  text-align: center;
  padding: 12px;

}
.dropdown:hover .dropdown_content{
  display:block;
  background-color: #3A85F8;
  
}




.sudlanan{
  width: 100%;
  min-width: 500px;
  margin: auto;
}

.kcc-image {
  display: block;
  margin-right: auto;
  width: 130px;
  position:relative;
  padding-left:30px;
  padding-top:10px;
}




  
  /*SLIDER NEW ITM*/

  .container 
  {
    margin: auto;
    width: 60%;
    height: 600px;
    position: relative;
    overflow: hidden;
  }

  .slides 
  {
    display: flex;
    height: 100%;
  }

  .slide 
  {
    min-width: 100%;
    position: relative;
  }

  .slide img 
  {
    width: 100%;
    height: 100%;
  }

  .slide-controls 
  {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #next-btn,
  #prev-btn 
  {
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    border: none;
    padding: 10px;
    color: white;
  }

  #next-btn:focus,
  #prev-btn:focus 
  {
    outline: none;
  }

  .slide-content 
  {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 60px;
    color: white;
  }


/*SECTION PART*/
.section h1{
  text-align: center;
  padding:20px;
}

.section{
  
background-color: white;
width: 700px;
margin:auto;
padding:100px;
border-radius: 25px;

}
.section img{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  left:250px
}
.section p{
  text-align: justify;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;

}
.section h1{
  color:#0066ff;
}
.section h2{
  padding:30px;
}
.section h3{
  font-size: 18px;
  text-align: center;
}
.post_section{
 background-color:white;
 margin:auto;
 width:700px;
 padding:20px;
 height:200px;
  
 
}
.KSR{
position:relative;
text-align: justify;
left:400px;
width:300px;
bottom:200px;


}
.HASR{
position:relative;
text-align: justify;
width:300px;

}
.post_section h3{
  text-align: center;
  color:#0066ff;
}

#ksr_icon {
  font-size: 50px;

}
#hasr_icon{
  font-size: 50px;
}


/*FOOTER*/
.footer{
  background-color:#0066ff;
  color:white;
  
}
.inner_footer{
  display:flex;
  width: 80%;
  height: 30vh;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
 
}.footer-heading h3{
  margin-bottom: 10px;
}
.footer-heading{
  display:flex;
  flex-direction: column;
  margin-right: 4rem;
  font-size: 16px;
  margin-top:80px;
}

.socmed ul li {
  list-style: none;
  font-size: 30px;
  display: inline;
  padding: 10px;
}


/*MEALS*/
.recipe-content img{
  width:250px;
  height:200px;
  border-radius: 15px;
}
.rc{
  display:flex;
  width:80%;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  
}
.recipe-content{
  display:flex;
  flex-direction: column;
  margin-right: 4rem;
  margin-top: 80px;
  margin-bottom: 400px;
}
.recipe-content h3{
  text-align: center;
}
/*FOR ALL FOODS generic container name a*/
.Food-section{
  background-color: white;
  width: 700px;
  margin:auto;
  padding:100px;
  border-radius: 25px;
}
.Food-section img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  position:relative;
  border-radius: 15px;
  margin-bottom: 30px;
}
.Food-section h3{
  text-align: left;
  margin-bottom:15px;
}
.ingredients{
  margin-bottom:15px;
}






















/* ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US ABOUT US  */

.tab
{
  position: relative;
  top: 50px;
  font-family:"Raleway";
  margin: auto;
  width: 650px;
  height: 400px;
  background: #f5f5f5;
  padding: 20px 30px;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 5px 10px 5px #ccc;
}

.tab .tab-head
{
  height: 60px;
  display: flex;
  align-items: center;
}

.tab .tab-head > div
{
  width: calc( 100% / 2);
  text-align: center;
  color: #888;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
}

.tab .tab-head > div > i
{
  display: block;
  margin-bottom: 5px;
}

.tab .tab-head > div.sets
{
  color: #00acee;
}

.tab .tab-indicator
{
  position: relative;
  width: calc(100% / 2);
  height: 5px;
  background: #00acee;
  left: 0px;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

.tab .tab-body
{
  text-align: justify;
  position: relative;
  height: calc(100% - 60px);
  margin-top: 20px;
  padding: 10px 10px;
}

.tab .tab-body > div
{
  position: absolute;
  top: -150%;
  opacity: 0;
  margin-top: 5px;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms,
    transform 500ms ease-in-out 0ms;
}

.tab .tab-body > div.sets
{
  top: 0px;
  opacity: 1;
  transform: scale(1);
  margin-top: 0px;
}

.collapsible
{
  position: relative;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  left: 25%;
  margin: auto;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active .collapsible:hover
{
  background-color: #555;
}

.collapsible:after
{
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active::after
{
  content: "\2212";
}

.content 
{
  margin: auto;
  position: relative;
  width: 47.4%;
  padding: 0px 18px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: #f1f1f1;
}

.content p
{
  padding: 15px 0px;
}

h3
{
  text-align: center;
}

.back{
    background-color: #0066ff; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    left: 50%;
    top:80%;
    border-radius: 15px;
}
