* {
    margin: 0;
    padding: 0;
    font-family: verdana;
    color: black;

}
html,body{
    height:100%;
}





#main-navigation {
   
    text-align: right;
    padding: 5px 0px 10px;
    background-color: #0066ff;
}

#main-navigation ul li {
    list-style: none;
    display: inline;
    padding: 0 20px;
    position: relative;
    bottom: 30px;
}

#main-navigation a {
    text-decoration: none;
    color: white;
    font-family: arial;
}

.kcc-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}



#socmed ul li {
    list-style: none;
   
}
.overlay{
display: flex;
justify-content: center;



}

.overlay img{
   width:1100px;
   height:700px;
  
}
.overlay_txt{
    position:absolute;
    top:300px; 
}

mark{
    background-color:#fffdd0 ;
    color:#0066ff;
    font-size: 40px;
}
.section h1{
    text-align: center;
    padding:20px;
}
.adobo_img{
position: relative;
height:300px;
text-align: center;
}

.footer{
    background-color:#0066ff;
    position: relative;
    top:2000px;
    height:80px;
    width: 100%;
    padding-top: 20px;
}
